The build for project <%= @project.name %> still fails!

Commit that didn't fix the build:
Hash: <%= @build.display_name %>
Author: <%= @build.author %> <<%= @build.email %>>
Message: <%= @build.commit_message %>

<h2>Link to build:</h2>
<%= @build_url %>

<h2>Build outputs</h2>
<div class="build-outputs">
<%= render_file( @build.output_path('cucumber') )%>
</div>